@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

body{
  background: #dfdfdf;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 7px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
}

.header img {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}

.header a:hover {
  background-color: none;
  color: #39b7dd;
}

/*.header a.active {
  background-color: none;
  border-bottom: 3px solid #39b7dd;
  padding-bottom: 15px;
}*/

.header ul {
  float: right;
}

.header ul {
  list-style-type: none;
  margin: 0 3rem;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  position: relative;
  letter-spacing: 2px;
}

.header li{
  padding: 0px 10px;
}

.wrapper{
  display: flex;
  max-width: 560px;
  width: 100%;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper .right{
  width: 50%;
  height: 100%;
  padding: 30px;
}

.wrapper .container{
  background: #fff;
  width: 100%;
  height: 650px;
  border-radius: 10px;
}

.wrapper .container .tabs ul{
  text-align: center;
}

.wrapper .container .tabs ul li{
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #494f57;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.wrapper .container .tabs ul li.active{
  border-bottom: 2px solid #39b7dd;
  color: #39b7dd;
}

.wrapper .container .add{
  margin-top: 20px;
}

.wrapper .container .remove{
  margin-top: 20px;
}

.wrapper .container .input_field{
  margin-bottom: 15px;
  margin-left: 100px;
  padding: 5px 5px;
}

.wrapper .container .input_field .input{
  width: 80%;
  padding: 10px 20px;
  border: 0;
  font-size: 12px;
  background: #ecebeb;
  border-radius: 25px;
}

/*.wrapper .container .btn{
  margin-top: 20px;
  background: #494f57;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.wrapper .container .btn a{
  color: #fff;
  display: block;
  font-size: 14px;
}

.wrapper .container .custom-select{
  width: 80%;
  padding: 10px 20px;
  border: 0;
  font-size: 12px;
  background: #ecebeb;
  border-radius: 25px;
}

.wrapper .container .custom-select select{
color: #494f57;
}*/

.select-field {
	display: inline-block;
	width: 500px;
  max-width: 600px;
	height: 37px;
	margin: 0px 106px;
  margin-bottom: 10px;

	padding: 0px;
	background-color: #ecebeb;
	border-radius: 30px;
	position: relative;
	z-index: 1;
}

.select-field select {
	float: left;
  margin-left: 50px;
	width: 100%;
	height: 100%;
  font-size: 12px;
	margin: 0px 6px;
	padding: 0px 45px 0px 15px;
	border: 0px;
	background-color: transparent;
  color: #757575;
	position: relative;
	z-index: 3;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);

  background-position:
    calc(100% - 25px) calc(1em + 4px),
    calc(100% - 20px) calc(1em + 4px),
    calc(100% - 3.2em) 0.7em;

  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
background-repeat: no-repeat;
}

.select-field select option {
	padding: 10px;
}

.dropdown-el {
  margin-top:20vh;

  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height:2em;
  overflow:hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;

  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: mix($color,#fff,25%);

  transition: $timing all ease-in-out;
  input:focus + label {
    background-color: #def;
  }
  input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  label {
    border-top: .06em solid #d9d9d9;
    display:block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: $timing color ease-in-out;
    &:nth-child(2) {
      margin-top: 2em;
      border-top: .06em solid #d9d9d9;
    }
  }
  input:checked + label {
    display:block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:nth-child(2) {
      margin-top: 0;
      position: relative;
    }
  }

  &::after {
    content:"";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: .3em solid $color;
    border-color: $color transparent transparent transparent;
    transition: .4s all ease-in-out;
  }
  &.expanded {
    border: .06em solid $color;
    background: #fff;
    border-radius: .25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height:15em;

    label {
      border-top: .06em solid #d9d9d9;
      &:hover {
        color:$color;
      }
    }
    input:checked + label {
      color:$color;
    }

    &::after {
      transform: rotate(-180deg);
      top:.55em;
    }
  }
}

.button {
    background: #39b7dd;
    margin-left: 200px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px;
    font-size: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
